body {
  margin: 0px;
  scroll-behavior: smooth;
}

.main {
  margin: 3.90625vw;
  text-align: justify;
  font: normal normal 400 1.5vw Segoe UI;
  letter-spacing: 0.2px;
  color: #212121;
  opacity: 1;
}

.dataAlign {
  display: grid;
  grid-template-columns: 3% 97%;
}

.content-sub-heading {
  font: normal normal 500 1.5vw Segoe UI;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: center;
}

.logo {
  width: 20vw;
  margin-top: -1.56vw;
  margin-bottom: -1.56vw;
}

.content {
  margin: 3.90625vw;
  text-align: justify;
  font: normal normal 400 1.5vw Segoe UI;
  letter-spacing: 0.2px;
  color: #212121;
  opacity: 1;
}

.privacy-align {
  text-align: center;
}

@media screen and (max-width: 991px) {

  .main {
    font: normal normal 400 2vw Segoe UI;
  }

  .content-sub-heading {
    font: normal normal 500 2vw Segoe UI;
  }

}

@media screen and (max-width: 680px) {

  .logo {
    width: 40vw;
  }

  .content {
    font: normal normal 400 4vw Segoe UI;
  }

  .termsOfUse::before {
    margin-left: 0px;
    content: "\a";
    white-space: pre;
  }

}
